.contenedor {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}
.contenedor h1{
  color: #ffffff;
  margin: auto;
}
.contenedor input{
  width : 100%;
  border: 1px solid #444;
  padding : 12px;
  border-radius: 8px;
  background-color: #2a2a2a;
  cursor:pointer;
  box-sizing: border-box;
  color: #ffffff;
}
.contenedor p{
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.boton-merge{
  width: 100%;
  background-color: #e2001a;
  color : #ffffff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor:pointer;
  font-size: 16px;
  margin-top: 20px;
}

.archivo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  
  color: #ffffff;
}

.botonX{
  background-color: #2a2a2a;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2px;
  color: #ffffff;
  font-weight: bold;
}
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Syne', sans-serif;
}

.herramientas {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.tarjeta {
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 24px;
  width: 160px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tarjeta:hover {
  background-color: #333;
}

.tarjeta span {
  font-size: 2rem;
}

.tarjeta h2 {
  font-size: 1rem;
  margin: 8px 0 4px;
}

.tarjeta p {
  font-size: 0.8rem;
  color: #aaa;
  background: none;
  padding: 0;
}